.speech{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: black;
}
.song{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
}
.song-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
.direction{
    background-color:beige;
    color: chocolate;
}
.direction:hover{
    background-color: darkmagenta;
    color: aliceblue;
}
.CELIA{
    color: blue;
}
.LORDMOUNT{
    color: darkred;
}
.LORDTOLL{
    color: darkviolet;
}
.LEILA{
    color: indianred;
}
.table{
    font-family: 'Courier New', Courier, monospace;
}
th,td{
    padding: .30em .6em;
    text-align: center;
}
th{
    background-color:coral;
}
td{
    background-color: bisque;
}
.FLETA{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:brown;
}
.QUEEN{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: coral;
}
.WILLIS{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
}
.heading-1{
    color: indianred;
}
.CELIA:hover{
    background: rgb(211, 68, 68);
    box-shadow: 0 8px 8px -4px lightcoral;
    color: white;

}
.LORDMOUNT:hover{
    background: rgb(211, 68, 68);
    box-shadow: 0 8px 8px -4px lightcoral;
    color: white;

}
.LORDTOLL:hover{
    background: rgb(211, 68, 68);
    box-shadow: 0 8px 8px -4px lightcoral;
    color: white;

}
.LEILA:hover{
    background: rgb(211, 68, 68);
    box-shadow: 0 8px 8px -4px lightcoral;
    color: white;

}
.FLETA:hover{
    background: rgb(211, 68, 68);
    box-shadow: 0 8px 8px -4px lightcoral;
    color: white;

}
.QUEEN:hover{
    background: rgb(211, 68, 68);
    box-shadow: 0 8px 8px -4px lightcoral;
    color: white;

}
.WILLIS:hover{
    background: rgb(211, 68, 68);
    box-shadow: 0 8px 8px -4px lightcoral;
    color: white;

}
.siteicon{
    float: right;
    max-width: 50px;
    margin: 0 70px 0 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(232, 112, 124);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(252, 244, 244);
  }